
.form_contact{
    width: 965px;
    margin: 120px auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.content1__contact {
    width: 1519px;
    /* background-color: aquamarine; */
    margin:auto;
}

.container__content__signup {
    width: 90%;
    height: 100%;
    margin: 65px auto;
    /* background-color: antiquewhite; */
    /* position: relative; */
}

.text_signup {
    width: 100%;
    height: 16%;
    /* background-color: greenyellow; */
    padding: 80px auto;
    /* position: absolute; */
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    line-height: 80px;
}

.text_transform {
    font-size: 64px;
    font-weight: 700;
    -webkit-text-stroke: 1px #000;
    color: transparent;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

.form_signup {
    width: 80%;
    height: 50%;
    /* background-color: burlywood; */
    margin: 35px auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.input_form1 {
    width: 100%;
    height: 56px!important;
    border: 1px solid black;
    padding: 12px 15px;
    display: block;
    box-sizing: border-box;
}

.text_cb {
    line-height: 20px;
    font-size: 16px;
    margin-top: -1px;
    margin-left: 10px;
    font-weight: 300;
    color: dimgray;
}

.btn_contact {
    text-decoration: none;
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: transparent;
    color: dimgrey;
    border: 1px solid dimgrey;
    top: 65px;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    transition: all .4s;
    margin: 30px auto;
}

.btn_signup:hover {
    background-color: black;
    color: white;
}

.box_contact{
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}

.contact_request{
    margin-top: 40px;
    width: 100%;
}

.text_col{
    font-size: 14.5px;
    margin-bottom: 8px;
}

.contact_col1{
    margin-top: 40px;
    width: 50%;
    display: block;
    box-sizing: border-box;
    padding-right: 24px;
}

.contact_col2{
    margin-top: 40px;
    width: 50%;
    display: block;
    box-sizing: border-box;
    padding-left: 24px;
}

#contact_messages{
    width: 100%;
}
