body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 745px;
    background-color: lightcyan;
}

.container__header {
    width: 1423px;
    height: 100%;
    background-color: bisque;
    margin: auto;
    background-image: url(/assets/img/img__banner.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 8px 48px;
}

.navbar {
    width: 1423px;
    height: 48px;
    background-color: white;
    color: black;
}

.justify-content-between {
    justify-content: space-between !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}